* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    height: 500vh;;
}

header {
    background-color: #fecc00;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;    
    transition:  90ms ease-in;

}



header .main {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 10px;
    
    position: relative;
}

header img {
    height: 35.203px;
    width: 162px;
}

header .first-line {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}



/*formulaire de recherche plus la liste*/

header form {
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    width: 400px;
    height: 34px;
    overflow: hidden;
    display: flex;
    margin-bottom: 5px;
    margin-right: 100px;
}

header form input[type="search"] {
    border: none;
    width: 362px;
    height: 34px;
    padding: 0 14px;
    font-size: 12px;
    outline: none;
    display: block;
}

header form input::placeholder
{
    color: #757575;
}

header form button {
    border: none;
    height: 32px;
    width: 36px;
    padding: 0 10px;
    margin: 0;
    display: block;
    background-color: white;
}

header form button:hover
{
    background-color: #ececec;
}


header form button i {
    font-size: 12px;
}

/*list */

header .list,
ul {
    display: flex;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: 400;
    
}

header .list span,
a {
    color: #757575;
}

header .list a {
    padding-left: 3px;
}

header .list a:hover
{
color: #333;}
/*btn notez films*/

.btn-rate
{
    width: 165px;
    height: 30px;
    align-self: center;
    border: none;
    background-color: black;
    padding: 0 10px;
}
.btn-rate span
{
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fdfffa;
    font-family:'montserrat';
}

.btn-rate i
{
    font-size: 14px;
    
    color: white;
    margin-right: 5px;
}

/*sec line*/
.sec-line
{
    display: flex;
    justify-content: space-between;
}

nav
{
    
    margin-top: 10px;
    height: 26.5px;
}

nav a 
{
    font-size: 15px;
    text-transform: uppercase;
    color: #333;
    font-family: 'montserrat',Arial,Sans-Serif;
    font-weight: 500;
    padding:8px 15px;
}
nav ul{
    margin: 0 auto;
}

nav a:hover
{
    background: hsla(0,0%,100%,.4);}


p{
    margin-top: 150px;
}

.sec-line button
{
    padding: 8px 10px;
    border: none;
    background-color: #1ca2eb;
    color: white;
    text-transform: uppercase;
    font-family: 'montserrat';
    font-weight: 500;
}

.sec-line button i
{
    font-size: 15px;
    margin-right: 6px;
}